<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ncpsb.firmiana.hpc.sso.dao.mapper.UserLoginMapper">
    <resultMap id="BaseResultMap" type="org.ncpsb.firmiana.hpc.model.UserLogin">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="DATE"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="DATE"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="activated" property="activated" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="INTEGER"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, login_name, email, mobile, login_pwd, last_login_time, avatar, created_at, user_id,
    activated, created_by, updated_at, updated_by
  </sql>
    <select id="selectByIdentifyColumnAndPassword" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user_login
        where email = #{identifyColumn} and login_pwd = #{password}
    </select>

    <select id="selectByIdentifyColumn" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user_login
        where (email = #{identifyColumn} or login_name = #{identifyColumn} or mobile = #{identifyColumn})
    </select>

    <select id="selectUserIsDuplicate" resultType="int" parameterType="java.lang.String">
        select
        count(1)
        from user_login
        <if test="null != columnType and columnType == 0">
            where login_name = #{identifyColumn}
        </if>
        <if test="null != columnType and columnType == 1">
            where email = #{identifyColumn}
        </if>
        <if test="null != columnType and columnType == 2">
            where mobile = #{identifyColumn}
        </if>
    </select>
</mapper>