<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd


                          http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd"
       default-lazy-init="true">

    <!-- 配置扫描controller -->
    <context:component-scan base-package="cn.ncbsp.omicsdi.solr"/>

    <!--<aop:aspectj-autoproxy/>-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>QuoteFieldNames</value>
                        <value>WriteMapNullValue</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--<mvc:view-controller path="/" view-name="redirect:${baseUrl}/"/>-->

    <mvc:default-servlet-handler/>
    <context:annotation-config/>

    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <bean class="cn.ncbsp.omicsdi.solr.swagger2.Swagger2Conf"/>


    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <bean id="XMLResponseParser" class="org.apache.solr.client.solrj.impl.XMLResponseParser"></bean>

    <bean id="solrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
        <constructor-arg name="builder" ref="solrClientBuilder"></constructor-arg>
        <property name="parser" ref="XMLResponseParser"></property>
    </bean>

    <bean id="solrClientBuilder" class="org.apache.solr.client.solrj.impl.HttpSolrClient.Builder">
        <constructor-arg name="baseSolrUrl" value="http://192.168.99.25:33669/solr/"></constructor-arg>
    </bean>

    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg name="solrClient" ref="solrClient"></constructor-arg>
    </bean>

    <bean id="solrSuggestTemplate" class="cn.ncbsp.omicsdi.solr.solrTool.SolrSuggestTemplate">
        <constructor-arg name="solrClient" ref="solrClient"></constructor-arg>
    </bean>

    <!--<jpa:repositories base-package="cn.ncbsp.omicsdi.solr.repo" />-->

    <bean id="XMLResponseParser" class="org.apache.solr.client.solrj.impl.XMLResponseParser"></bean>

    <bean id="solrSuggestClient" class="cn.ncbsp.omicsdi.solr.services.Impl.suggest.HttpSolrClient">
        <constructor-arg name="builder" ref="solrSuggestClientBuilder"></constructor-arg>
        <property name="parser" ref="XMLResponseParser"></property>
    </bean>

    <bean id="solrSuggestClientBuilder" class="cn.ncbsp.omicsdi.solr.services.Impl.suggest.HttpSolrClient.Builder">
        <constructor-arg name="baseSolrUrl" value="http://192.168.99.25:33669/solr/"></constructor-arg>
    </bean>

    <!-- solr服务器地址 -->
    <!--<solr:solr-server id="solrServer" url="http://127.0.0.1:8080/solr" />-->
    <!--&lt;!&ndash; solr模板，使用solr模板可对索引库进行CRUD的操作 &ndash;&gt;-->
    <!--<bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">-->
    <!--<constructor-arg ref="solrServer" />-->
    <!--</bean>-->

    <mongo:mongo-client id="mongoClient" host="1" port="1" credentials="1">
        <mongo:client-options connections-per-host="5"
                              threads-allowed-to-block-for-connection-multiplier="10"
                              connect-timeout="100000"
                              max-wait-time="30000"
                              socket-keep-alive="true"
                              socket-timeout="1000000"
                              write-concern="NORMAL"
                              read-preference="PRIMARY_PREFERRED"/>
    </mongo:mongo-client>

    <mongo:db-factory dbname="ddi_db" mongo-ref="mongoClient"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>


    <mongo:mapping-converter id="mappingConverter"
                             db-factory-ref="mongoDbFactory"/>


</beans>
